/* 1. VARIABLES PRINCIPALS PER UTILITZAR AMB FACILITAT */
:root {
    --primary-color: #00008b;
    --accent-color: #e74c3c;
    --text-color: #444;
    --bg-light: #f9f9f9;
    --white: #ffffff;
    --shadow: 0 15px 35px rgba(0,0,0,0.2);
}

/* 2. RESET I BASES */
body { 
    margin: 0; 
    font-family: sans-serif; 
    scroll-behavior: smooth; 
    color: var(--text-color);
}

/* 3. HEADER I FONS */
header {
    width: 100%; 
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(44, 62, 80, 0.8) 50%, var(--white) 50%), url('https://img.freepik.com/foto-gratis/laptop-taza-cafe-papeleria-escritorio-marron_23-2147979162.jpg?semt=ais_hybrid&w=740&q=80') center/cover no-repeat;
}

/* 4. NAVEGACIÓ */
nav { 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 20px; 
    gap: 15px; 
}

nav a {
    font-family: "Montserrat", sans-serif; 
    font-size: 11px;
    text-decoration: none; 
    color: var(--white); 
    position: relative; 
    padding-bottom: 2px;
    letter-spacing: 1px;
}

nav a::after {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px;
    background: var(--white); 
    transition: 0.5s;
}

nav a:hover::after, nav a:focus::after { 
    width: 100%; 
}

/* 5. TARGETA PRINCIPAL */
.main-container { 
    flex: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
}

.targeta-principal {
    background: var(--white); 
    width: 100%; 
    max-width: 850px; 
    min-height: 450px; 
    box-shadow: var(--shadow); 
    border-radius: 4px;
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
    position: relative;
}

.card-photo { 
    width: 100%;
    height: 300px; 
    padding: 0;
}

.card-photo img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.card-info { 
    padding: 30px; 
    width: 100%;
    box-sizing: border-box;
}

.card-info h1 { margin: 5px 0; font-size: 28px; color: black; font-weight: bold; }
.mini-titol { color: black; margin-bottom: 20px; font-size: 14px; }

.separator { 
    border: 0; 
    border-top: 1px solid lightgrey; 
    width: 100%; 
    margin-bottom: 30px; 
}

.details-list { list-style: none; padding: 0; }
.details-list li { margin-bottom: 10px; font-size: 13px; color: gray; }
.details-list b { color: black; display: inline-block; width: 80px; }

/* FOOTER */
.site-footer { 
    text-align: center; padding: 40px; 
    background: #f4f4f4; font-size: 12px; 
}